* {
    margin: 0;
    padding: 0;
    font-family: "futura md bt";
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    background: #ffffff;
}
header {
    background: #fff;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
header .logo {
    font-size: 30px;
    text-transform: uppercase;
}
header nav ul {
    display: flex;
}
header nav ul li a {
    display: inline-block;
    color: #000;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
    
}
header nav ul li a:hover,
header nav ul li a.active {
    border-bottom-color: #4B70E2;
}
.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #000;
}
@media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 70px;
        width: 100%;
        background: #fff;
        padding: 30px;
        transition: 0.3s;
    }
    header #nav_check:checked ~ nav {
        left: 0;
    }
    header nav ul {
        display: block;
    }
    header nav ul li a {
        margin: 5px 0;
    }
}

.img_kosen{
    position: relative;
}

.img_kosen p{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
}

.img_kosen img{
    width: 100%;
}

.search-form-011 {
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    background-color: #fff;
    margin: 2%;
    padding: 0;
}

.search-form-011 input {
    width: 250px;
    height: 45px;
    padding: 5px 15px 5px 0;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
}

.search-form-011 input::placeholder {
    color: #767d83;
}

.search-form-011 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-color: #fff;
}

.search-form-011 button::before {
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23767d83%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    content: '';
}

.main_select_class{
    margin: 0 auto;
    padding-bottom: 100px;
    width: 80%;
    display: flex;
}

.home_sele{
    margin: 0 auto;
    width: 20%;
    text-align: center;
}

.home_sele img{
    width: 150px;
    height: 210px;
    margin: 0 auto;
}

.home_sele p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.home_sele p a{
    color: #000;
}